#start {
    position: absolute;
    left: 46%;
    font-size: 50px;
    justify-content: center;
    color: lightgreen;
    background-color: green;
}

button:hover {
    box-shadow: 5px 5px 5px;
}

#title {
    text-align: center;
    font-size: 50px;
}

#rules {
    text-align: center;
    font-size: 30px;
}

#timer {
    position: absolute;
    font-size: 40px;
    right: 2px;
    top: 1px;

}

section {
    display: block;
    text-align: center;
}

.answer_button {
    font-size: 30px;
    background-color: lightskyblue;
}

#text {
    font-size: 50px;
    font-weight: bold;
}

form {
    position: absolute;
    left: 35%;
    top: 50%;
    text-align: center;
    font-size: 50px;
}